@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

header {
    text-align: center;
    padding: 20px;
    color: white;
}

body {
    background-color: rgb(100, 149, 237);
    font: normal 15pt Arial;

    height: 100vh;

    display: flex;
    align-items: center;     
    flex-direction: column;  
}

section {
    align-content: center;
    background-color: white;
    width: 500px;

    padding: 15px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.363);

    margin-top: 20px;
}

#foto img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin: auto;
    display: block;
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
    margin-top: 20px;
}


